<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias dolorem corrupti maxime sed consequuntur repudiandae saepe vitae magni temporibus. Illum animi qui vitae quia praesentium inventore ducimus natus aperiam sapiente!
</body>
</html>